[Unit]
Description=XianCraft Game Server
After=network.target

[Service]
# !!重要!!: 请将这里的 'your_user' 替换成您服务器上用来运行 runner 的用户名
User=blueleaf
Group=blueleaf

# !!重要!!: 确保您的程序可执行文件最终会放在这里
WorkingDirectory=/srv/xiancraft
ExecStart=/srv/xiancraft/server

Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
